.accordion {
	width: 100%;
	border: none;
	background-color: #eee;
	color: #333;
	font-size: 1rem;
	font-weight: 700;
	text-align: left;
	padding: 1rem;
	cursor: pointer;
	transition: 0.5s;
	outline: none;
}

.accordion::after {
	content: '\002B';
	float: right;
}

.active::after {
	content: '\2212';
}

.accordion:hover .active {
	background-color: #ccc;
}

.panel {
	overflow: hidden;
	padding: 0 1rem;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}
